#Importe de librerías

In [ ]:
!pip install unidecode

Requirement already satisfied: unidecode in /usr/local/lib/python3.10/dist-packages (1.3.8)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from unidecode import unidecode
import re

#Pre-Procesamiento para train.csv

In [ ]:
train = pd.read_csv('train.csv')
train.head()

,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL
0,904256,20212,ENFERMERIA,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica incompleta,Postgrado,No,medio-alto
1,645256,20212,DERECHO,ATLANTICO,Entre 2.5 millones y menos de 4 millones,0,Estrato 3,No,Técnica o tecnológica completa,Técnica o tecnológica incompleta,No,bajo
2,308367,20203,MERCADEO Y PUBLICIDAD,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,Más de 30 horas,Estrato 3,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No,bajo
3,470353,20195,ADMINISTRACION DE EMPRESAS,SANTANDER,Entre 4 millones y menos de 5.5 millones,0,Estrato 4,Si,No sabe,Secundaria (Bachillerato) completa,No,alto
4,989032,20212,PSICOLOGIA,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 3,Si,Primaria completa,Primaria completa,No,medio-bajo

In [ ]:
train.value_counts()

ID      PERIODO  ESTU_PRGM_ACADEMICO                                     ESTU_PRGM_DEPARTAMENTO  ESTU_VALORMATRICULAUNIVERSIDAD            ESTU_HORASSEMANATRABAJA  FAMI_ESTRATOVIVIENDA  FAMI_TIENEINTERNET  FAMI_EDUCACIONPADRE                 FAMI_EDUCACIONMADRE                   ESTU_PAGOMATRICULAPROPIO  RENDIMIENTO_GLOBAL
1       20183    HOTELERIA Y TURISMO                                     BOGOTÁ                  Entre 2.5 millones y menos de 4 millones  Entre 11 y 20 horas      Estrato 2             Si                  Primaria completa                   Secundaria (Bachillerato) incompleta  No                        medio-alto            1
659298  20195    ADMINISTRACION EN FINANZAS Y NEGOCIOS INTERNACIONALES   CORDOBA                 Entre 500 mil y menos de 1 millón         0                        Estrato 1             Si                  Secundaria (Bachillerato) completa  Primaria completa                     No                        medio-alto            1
659281  20195    ADMINISTRACION DE EMPRESAS TURISTICAS                   ANTIOQUIA               Entre 1 millón y menos de 2.5 millones    0                        Estrato 3             Si                  Secundaria (Bachillerato) completa  Secundaria (Bachillerato) completa    No                        medio-bajo            1
659282  20195    PSICOLOGÍA                                              BOGOTÁ                  Entre 1 millón y menos de 2.5 millones    Menos de 10 horas        Estrato 3             Si                  Postgrado                           Postgrado                             No                        alto                  1
659286  20195    PSICOLOGIA                                              SUCRE                   Entre 500 mil y menos de 1 millón         Entre 11 y 20 horas      Estrato 1             Si                  Primaria incompleta                 Técnica o tecnológica completa        Si                        bajo                  1
                                                                                                                                                                                                                                                                                                                                       ..
329914  20183    DERECHO                                                 ANTIOQUIA               Entre 1 millón y menos de 2.5 millones    Más de 30 horas          Estrato 3             Si                  Primaria completa                   Primaria completa                     Si                        alto                  1
329915  20183    LICENCIATURA EN EDUCACION FISICA,RECREACION Y DEPORTES  ANTIOQUIA               Entre 1 millón y menos de 2.5 millones    Entre 11 y 20 horas      Estrato 1             No                  Secundaria (Bachillerato) completa  Secundaria (Bachillerato) completa    No                        bajo                  1
329916  20183    ADMINISTRACIÓN EN SALUD OCUPACIONAL                     BOGOTÁ                  Entre 1 millón y menos de 2.5 millones    Entre 11 y 20 horas      Estrato 2             Si                  Primaria incompleta                 Primaria incompleta                   Si                        bajo                  1
329917  20183    INGENIERIA DE SISTEMAS                                  BOGOTÁ                  Menos de 500 mil                          Entre 11 y 20 horas      Estrato 2             Si                  Técnica o tecnológica incompleta    Secundaria (Bachillerato) completa    No                        alto                  1
989286  20212    MARKETING Y NEGOCIOS INTERNACIONALES                    MAGDALENA               Entre 1 millón y menos de 2.5 millones    Entre 21 y 30 horas      Estrato 3             Si                  Secundaria (Bachillerato) completa  Secundaria (Bachillerato) completa    No                        medio-bajo            1
Name: count, Length: 645661, dtype: int64

## Overview


Para la limpieza del archivo train.csv, se realizarán las siguientes operaciones:


1.   Estandarización de datos:
      *   ESTU_PRGM_ACADEMICO

2.   Relleno de datos faltantes:
      *   **FAMI_ESTRATOVIVIENDA:** se rellenan los vacíos con el estrato que tiene más repeticiones entre todo el dataset, dado que todo estudiante debe pertenecer a uno.
      *   **FAMI_TIENEINTERNET:** asumimos un espacio vacío como un "No".
      *   **FAMI_EDUCACIONPADRE:** asumimos un espacio vacío como un "No aplica" y se suma a las filas que tienen "No sabe" como entrada.
      *   **FAMI_EDUCACIONMADRE:** asumimos un espacio vacío como un "No aplica".
      *   **ESTU_VALORMATRICULAUNIVERSIDAD:** asumimos un espacio vacío como un "No pagó matrícula".
      *   **ESTU_HORASSEMANATRABAJA:** asumimos un espacio vacío como un "No trabaja"
      *   **ESTU_PAGOMATRICULAPROPIO:** asumimos un espacio vacío como un "No".


3.   Sustituimos los valores "Sí" / "No" por "1" / "0" respectivamente:
      *   FAMI_TIENEINTERNET
      *   ESTU_PAGOMATRICULAPROPIO
      *   FAMI_TIENEINTERNET


4.   Usamos One Hot para categorizar las siguientes columnas:
      *   FAMI_ESTRATOVIVIENDA
      *   FAMI_EDUCACIONPADRE
      *   ESTU_HORASSEMANATRABAJA
      *   ESTU_VALORMATRICULAUNIVERSIDAD
      *   ESTU_PRGM_ACADEMICO
      *   ESTU_PRGM_DEPARTAMENTO

## **1. Estandarización de datos**

*Columna ESTU_PRGM_ACADEMICO*

In [ ]:
train['ESTU_PRGM_ACADEMICO'] = (train['ESTU_PRGM_ACADEMICO']
                                 .str.replace(r'^PROFESIONAL EN\s+', '', regex=True)
                                 .str.replace(r'\s+', ' ', regex=True)
                                 .str.upper()
                                 .apply(unidecode)
                               )

reemplazos = {
    r'INGENIE?RIA': 'INGENIERIA',
    r'EDUCACIO?N\b': 'EDUCACION',
    r'RECREACIO?N\b': 'RECREACION',
    r'FISICA\b': 'FISICA',
    r'ESCENICAS\b': 'ESCENICAS',
    r'MATEMATICAS\b': 'MATEMATICAS',
    r'FILOSOFIA\b': 'FILOSOFIA',
    r'DISEÑO\b': 'DISEÑO',
    r'COMUNICACIO?N\b': 'COMUNICACION',
    r'GRAFICA\b': 'GRAFICA',
    r'ELECTRICA\b': 'ELECTRICA',
    r'QUIMICA\b': 'QUIMICA',
    r'FARMACEUTICA\b': 'FARMACEUTICA',
    r'ADMINISTRACIO?N\b': 'ADMINISTRACION',
    r'PUBLICA\b': 'PUBLICA',
    r'INGLES\b': 'INGLES',
    r'ENFASIS\b': 'ENFASIS',
    r'GESTIO?N\b': 'GESTION',
    r'MUSICA\b': 'MUSICA',
    r'ECONOMIA\b': 'ECONOMIA',
    r'GASTRONOMIA\b': 'GASTRONOMIA',
    r'BASICA\b': 'BASICA',
    r'GEOLOGIA\b': 'GEOLOGIA',
    r'PEDAGOGIA\b': 'PEDAGOGIA',
    r'ARTISTICA\b': 'ARTISTICA',
    r'LOGISTICA\b': 'LOGISTICA',
}

for pattern, replacement in reemplazos.items():
    train['ESTU_PRGM_ACADEMICO'] = train['ESTU_PRGM_ACADEMICO'].replace(pattern, replacement, regex=True)

In [ ]:
reemplazos = {
    r'.*INGENIERIA.*': 'INGENIERIA',
    r'ADMINISTRACION.*': 'ADMINISTRACION',
    r'QUIMICA.*': 'QUIMICA',
    r'DISEÑO.*': 'DISEÑO',
    r'DISENO.*': 'DISEÑO',
    r'.*ARTE.*': 'ARTES',
    r'LICENCIATURA.*': 'LICENCIATURA',
    r'.*DEPORT.*': 'DEPORTE',
    r'CIENCIA.*': 'CIENCIAS',
    r'COMUNICACION.*': 'COMUNICACION',
    r'GESTION.*': 'GESTION',
    r'FILOSOFIA.*': 'FILOSOFIA',
    r'NEGOCIOS.*': 'NEGOCIOS',
    r'.*MERCAD.*': 'MERCADEO',
    r'CINE.*': 'CINE',
    r'.*AGRO.*': 'AGRONOMIA',
    r'HOTELERIA.*': 'HOTELERIA',
    r'GEREN.*': 'GERENCIA',
    r'ECONO.*': 'ECONOMIA',
    r'.*QUIRURGICA.*': 'MEDICINA',
    r'.*LITERA.*': 'LITERATURA',
    r'.*PSICOLO.*' : 'PSICOLOGIA',
    r'.*BIOLOGIA.*' : 'BIOLOGIA',
    r'MATEMATICAS.*': 'MATEMATICAS',
    r'ADMIN.*': 'ADMINISTRACION',
    r'ESTUDIOS.*': 'ESTUDIOS',
    r'FINANZAS.*': 'FINANZAS',
    r'CONSTRUCCION.*': 'CONSTRUCCION',
    r'DIRECCION.*': 'DIRECCION',
    r'RELACIONES.*': 'RELACIONES',
    r'.*FILOL.*': 'FILOLOGIA',
    r'COMERCIO.*': 'COMERCIO',
    r'PUBLICI.*': 'PUBLICIDAD',
    r'CONTADURIA.*': 'CONTADURIA',
    r'GEO.*': 'GEOGRAFIA',
    r'MARK.*': 'MERCADEO',
    r'.*MUSICA.*': 'MUSICA',
    r'.*GASTR.*': 'GASTRONOMIA',
    r'PROFESIONAL.*': 'PROFESIONAL ',
    r'LENG.*': 'LENGUAS',
    r'.*ZOO.*': 'ZOOLOGIA',
    r'.*VETE.*':'VETERINARIA',
    r'HISTORIA.*': 'HISTORIA',
    r'\?': '',
}

for pattern, replacement in reemplazos.items():
    train['ESTU_PRGM_ACADEMICO'] = train['ESTU_PRGM_ACADEMICO'].replace(pattern, replacement, regex=True)

In [ ]:
reemplazos = {
    'ANTIOQUIA': 'ANDINA',
    'BOYACA': 'ANDINA',
    'BOGOTÁ': 'ANDINA',
    'CALDAS': 'ANDINA',
    'CUNDINAMARCA': 'ANDINA',
    'HUILA': 'ANDINA',
    'NORTE SANTANDER': 'ANDINA',
    'QUINDIO': 'ANDINA',
    'RISARALDA': 'ANDINA',
    'SANTANDER': 'ANDINA',
    'TOLIMA': 'ANDINA',
    'AMAZONAS': 'AMAZONA',
    'CAQUETA': 'AMAZONA',
    'VAUPES': 'AMAZONA',
    'GUAVIARE': 'AMAZONA',
    'PUTUMAYO': 'AMAZONA',
    'VALLE': 'PACIFICA',
    'CHOCO': 'PACIFICA',
    'CAUCA': 'PACIFICA',
    'NARIÑO': 'PACIFICA',
    'ATLANTICO': 'CARIBE',
    'BOLIVAR': 'CARIBE',
    'CESAR': 'CARIBE',
    'CORDOBA': 'CARIBE',
    'LA GUAJIRA': 'CARIBE',
    'MAGDALENA': 'CARIBE',
    'SUCRE': 'CARIBE',
    'SAN ANDRES': 'CARIBE',
    'ARAUCA': 'ORINOQUIA',
    'CASANARE': 'ORINOQUIA',
    'META': 'ORINOQUIA',
    'VICHADA': 'ORINOQUIA'
}

for old_value, new_value in reemplazos.items():
    train['ESTU_PRGM_DEPARTAMENTO'] = train['ESTU_PRGM_DEPARTAMENTO'].astype(str).str.replace(old_value, new_value)

## **2. Relleno de datos faltantes**

Columna *FAMI_ESTRATOVIVIENDA*

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].unique()

array(['Estrato 3', 'Estrato 4', 'Estrato 5', 'Estrato 2', 'Estrato 1',
       nan, 'Estrato 6', 'Sin Estrato'], dtype=object)

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
Estrato 2      232671
Estrato 3      210685
Estrato 1      111991
Estrato 4       65514
Estrato 5       23608
Estrato 6       12605
Sin Estrato      3289
Name: count, dtype: int64

In [ ]:
train['FAMI_ESTRATOVIVIENDA'] = train['FAMI_ESTRATOVIVIENDA'].fillna('Estrato 2')

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].isna().sum()

0

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
Estrato 2      264808
Estrato 3      210685
Estrato 1      111991
Estrato 4       65514
Estrato 5       23608
Estrato 6       12605
Sin Estrato      3289
Name: count, dtype: int64

*Columna FAMI_TIENEINTERNET*

In [ ]:
train['FAMI_TIENEINTERNET'].unique()

array(['Si', 'No', nan], dtype=object)

In [ ]:
train['FAMI_TIENEINTERNET'].value_counts()

FAMI_TIENEINTERNET
Si    592514
No     73357
Name: count, dtype: int64

In [ ]:
train['FAMI_TIENEINTERNET'].isna().sum()

26629

In [ ]:
train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].fillna("No")

In [ ]:
train['FAMI_TIENEINTERNET'].value_counts()

FAMI_TIENEINTERNET
Si    592514
No     99986
Name: count, dtype: int64

*Columna FAMI_EDUCACIONPADRE*

In [ ]:
train['FAMI_EDUCACIONPADRE'].unique()

array(['Técnica o tecnológica incompleta',
       'Técnica o tecnológica completa',
       'Secundaria (Bachillerato) completa', 'No sabe',
       'Primaria completa', 'Educación profesional completa',
       'Educación profesional incompleta', 'Primaria incompleta',
       'Postgrado', nan, 'Secundaria (Bachillerato) incompleta',
       'Ninguno', 'No Aplica'], dtype=object)

In [ ]:
train['FAMI_EDUCACIONPADRE'].isna().sum()

23178

In [ ]:
train['FAMI_EDUCACIONPADRE'] = train['FAMI_EDUCACIONPADRE'].replace(r'Ninguno', 'No Aplica')
train['FAMI_EDUCACIONPADRE'] = train['FAMI_EDUCACIONPADRE'].replace(r'No sabe', 'No Aplica')

In [ ]:
train['FAMI_EDUCACIONPADRE'] = train['FAMI_EDUCACIONPADRE'].fillna('No Aplica')

In [ ]:
train['FAMI_EDUCACIONPADRE'].value_counts()

FAMI_EDUCACIONPADRE
Secundaria (Bachillerato) completa      128289
Primaria incompleta                     125675
Educación profesional completa           83117
Secundaria (Bachillerato) incompleta     71654
No Aplica                                71007
Técnica o tecnológica completa           62995
Primaria completa                        55958
Postgrado                                44169
Educación profesional incompleta         27084
Técnica o tecnológica incompleta         22552
Name: count, dtype: int64

*Columna FAMI_EDUCACIONMADRE*

In [ ]:
train['FAMI_EDUCACIONMADRE'].unique()

array(['Postgrado', 'Técnica o tecnológica incompleta',
       'Secundaria (Bachillerato) completa', 'Primaria completa',
       'Técnica o tecnológica completa',
       'Secundaria (Bachillerato) incompleta',
       'Educación profesional incompleta',
       'Educación profesional completa', 'Primaria incompleta', nan,
       'Ninguno', 'No Aplica', 'No sabe'], dtype=object)

In [ ]:
train['FAMI_EDUCACIONMADRE'].isna().sum()

23664

In [ ]:
train['FAMI_EDUCACIONMADRE'] = train['FAMI_EDUCACIONMADRE'].replace(r'Ninguno', 'No Aplica')
train['FAMI_EDUCACIONMADRE'] = train['FAMI_EDUCACIONMADRE'].replace(r'No sabe', 'No Aplica')

In [ ]:
train['FAMI_EDUCACIONMADRE'] = train['FAMI_EDUCACIONMADRE'].fillna('No Aplica')

In [ ]:
train['FAMI_EDUCACIONMADRE'].value_counts()

FAMI_EDUCACIONMADRE
Secundaria (Bachillerato) completa      141744
Primaria incompleta                      99420
Técnica o tecnológica completa           89542
Educación profesional completa           85326
Secundaria (Bachillerato) incompleta     81012
Primaria completa                        56125
Postgrado                                46246
No Aplica                                43082
Técnica o tecnológica incompleta         27533
Educación profesional incompleta         22470
Name: count, dtype: int64

*Columna ESTU_VALORMATRICULAUNIVERSIDAD*

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'].unique()

array(['Entre 5.5 millones y menos de 7 millones',
       'Entre 2.5 millones y menos de 4 millones',
       'Entre 4 millones y menos de 5.5 millones', 'Más de 7 millones',
       'Entre 1 millón y menos de 2.5 millones',
       'Entre 500 mil y menos de 1 millón', 'Menos de 500 mil',
       'No pagó matrícula', nan], dtype=object)

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'].isna().sum()

6287

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'] = train['ESTU_VALORMATRICULAUNIVERSIDAD'].fillna("No pagó matrícula")

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'].value_counts()

ESTU_VALORMATRICULAUNIVERSIDAD
Entre 1 millón y menos de 2.5 millones      204048
Entre 2.5 millones y menos de 4 millones    127430
Menos de 500 mil                             80263
Entre 500 mil y menos de 1 millón            78704
Entre 4 millones y menos de 5.5 millones     69736
Más de 7 millones                            68014
Entre 5.5 millones y menos de 7 millones     38490
No pagó matrícula                            25815
Name: count, dtype: int64

*Columna ESTU_HORASSEMANATRABAJA*

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].unique()

array(['Menos de 10 horas', '0', 'Más de 30 horas', 'Entre 21 y 30 horas',
       'Entre 11 y 20 horas', nan], dtype=object)

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        249352
0                      116550
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
Name: count, dtype: int64

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].isna().sum()

30857

In [ ]:
train['ESTU_HORASSEMANATRABAJA'] = train['ESTU_HORASSEMANATRABAJA'].fillna('0')

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        249352
0                      147407
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
Name: count, dtype: int64

*Columna ESTU_PAGOMATRICULAPROPIO*

In [ ]:
train['ESTU_PAGOMATRICULAPROPIO'].unique()

array(['No', 'Si', nan], dtype=object)

In [ ]:
train['ESTU_PAGOMATRICULAPROPIO'].isna().sum()

6498

In [ ]:
train['ESTU_PAGOMATRICULAPROPIO'] = train['ESTU_PAGOMATRICULAPROPIO'].fillna('No')

In [ ]:
train['ESTU_PAGOMATRICULAPROPIO'].value_counts()

ESTU_PAGOMATRICULAPROPIO
No    388699
Si    303801
Name: count, dtype: int64

## **3. Sustituimos los valores "Sí" / "No" por "1" / "0" respectivamente**

*Columna FAMI_TIENEINTERNET*

In [ ]:
train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].replace(r'Si', 1.0)
train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].replace(r'No', 0.0)
train['FAMI_TIENEINTERNET'].value_counts()

<ipython-input-264-6371c068c386>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].replace(r'No', 0.0)

FAMI_TIENEINTERNET
1.0    592514
0.0     99986
Name: count, dtype: int64

*Columna ESTU_PAGOMATRICULAPROPIO*

In [ ]:
train['ESTU_PAGOMATRICULAPROPIO'] = train['ESTU_PAGOMATRICULAPROPIO'].replace(r'Si', 1.0)
train['ESTU_PAGOMATRICULAPROPIO'] = train['ESTU_PAGOMATRICULAPROPIO'].replace(r'No', 0.0)
train['ESTU_PAGOMATRICULAPROPIO'].value_counts()

<ipython-input-265-e0ba6fd8b872>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['ESTU_PAGOMATRICULAPROPIO'] = train['ESTU_PAGOMATRICULAPROPIO'].replace(r'No', 0.0)

ESTU_PAGOMATRICULAPROPIO
0.0    388699
1.0    303801
Name: count, dtype: int64

*Columna FAMI_TIENEINTERNET*

In [ ]:
train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].replace(r'Si', 1.0)
train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].replace(r'No', 0.0)
train['FAMI_TIENEINTERNET'].value_counts()

FAMI_TIENEINTERNET
1.0    592514
0.0     99986
Name: count, dtype: int64

##**4. Usamos One Hot para categorizar las columnas**

*Columna FAMI_ESTRATOVIVIENDA*

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].unique()

array(['Estrato 3', 'Estrato 4', 'Estrato 5', 'Estrato 2', 'Estrato 1',
       'Estrato 6', 'Sin Estrato'], dtype=object)

In [ ]:
estratos = ['Sin Estrato','Estrato 1','Estrato 2',
            'Estrato 3', 'Estrato 4', 'Estrato 5',
            'Estrato 6']
enc = OrdinalEncoder(categories = [estratos])
train['FAMI_ESTRATOVIVIENDA'] = enc.fit_transform(train[['FAMI_ESTRATOVIVIENDA']])

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
2.0    264808
3.0    210685
1.0    111991
4.0     65514
5.0     23608
6.0     12605
0.0      3289
Name: count, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['FAMI_ESTRATOVIVIENDA'] = scaler.fit_transform(train[['FAMI_ESTRATOVIVIENDA']])
train['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
0.333333    264808
0.500000    210685
0.166667    111991
0.666667     65514
0.833333     23608
1.000000     12605
0.000000      3289
Name: count, dtype: int64

*Columna FAMI_EDUCACIONPADRE*

In [ ]:
train['FAMI_EDUCACIONPADRE'].value_counts()

FAMI_EDUCACIONPADRE
Secundaria (Bachillerato) completa      128289
Primaria incompleta                     125675
Educación profesional completa           83117
Secundaria (Bachillerato) incompleta     71654
No Aplica                                71007
Técnica o tecnológica completa           62995
Primaria completa                        55958
Postgrado                                44169
Educación profesional incompleta         27084
Técnica o tecnológica incompleta         22552
Name: count, dtype: int64

In [ ]:
educacionPadre = ['No Aplica','Primaria incompleta','Primaria completa',
            'Secundaria (Bachillerato) incompleta', 'Secundaria (Bachillerato) completa', 'Técnica o tecnológica incompleta',
            'Técnica o tecnológica completa', 'Educación profesional incompleta', 'Educación profesional completa',
            'Postgrado']
enc = OrdinalEncoder(categories = [educacionPadre])
train['FAMI_EDUCACIONPADRE'] = enc.fit_transform(train[['FAMI_EDUCACIONPADRE']])

In [ ]:
train['FAMI_EDUCACIONPADRE'].value_counts()

FAMI_EDUCACIONPADRE
4.0    128289
1.0    125675
8.0     83117
3.0     71654
0.0     71007
6.0     62995
2.0     55958
9.0     44169
7.0     27084
5.0     22552
Name: count, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['FAMI_EDUCACIONPADRE'] = scaler.fit_transform(train[['FAMI_EDUCACIONPADRE']])
train['FAMI_EDUCACIONPADRE'].value_counts()

FAMI_EDUCACIONPADRE
0.444444    128289
0.111111    125675
0.888889     83117
0.333333     71654
0.000000     71007
0.666667     62995
0.222222     55958
1.000000     44169
0.777778     27084
0.555556     22552
Name: count, dtype: int64

In [ ]:
educacionPadre = ['No Aplica','Primaria incompleta','Primaria completa',
            'Secundaria (Bachillerato) incompleta', 'Secundaria (Bachillerato) completa', 'Técnica o tecnológica incompleta',
            'Técnica o tecnológica completa', 'Educación profesional incompleta', 'Educación profesional completa',
            'Postgrado']
enc = OrdinalEncoder(categories = [educacionPadre])
train['FAMI_EDUCACIONMADRE'] = enc.fit_transform(train[['FAMI_EDUCACIONMADRE']])
scaler = MinMaxScaler()
train['FAMI_EDUCACIONMADRE'] = scaler.fit_transform(train[['FAMI_EDUCACIONMADRE']])
train['FAMI_EDUCACIONMADRE'].value_counts()

FAMI_EDUCACIONMADRE
0.444444    141744
0.111111     99420
0.666667     89542
0.888889     85326
0.333333     81012
0.222222     56125
1.000000     46246
0.000000     43082
0.555556     27533
0.777778     22470
Name: count, dtype: int64

*Columna ESTU_HORASSEMANATRABAJA*

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        249352
0                      147407
Entre 11 y 20 horas    115857
Entre 21 y 30 horas     92693
Menos de 10 horas       87191
Name: count, dtype: int64

In [ ]:
horasTrabajo = ['0','Menos de 10 horas','Entre 11 y 20 horas',
                'Entre 21 y 30 horas',
                'Más de 30 horas']
enc = OrdinalEncoder(categories = [horasTrabajo])
train['ESTU_HORASSEMANATRABAJA'] = enc.fit_transform(train[['ESTU_HORASSEMANATRABAJA']])

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
4.0    249352
0.0    147407
2.0    115857
3.0     92693
1.0     87191
Name: count, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['ESTU_HORASSEMANATRABAJA'] = scaler.fit_transform(train[['ESTU_HORASSEMANATRABAJA']])
train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
1.00    249352
0.00    147407
0.50    115857
0.75     92693
0.25     87191
Name: count, dtype: int64

*Columna ESTU_VALORMATRICULAUNIVERSIDAD*

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'].value_counts()

ESTU_VALORMATRICULAUNIVERSIDAD
Entre 1 millón y menos de 2.5 millones      204048
Entre 2.5 millones y menos de 4 millones    127430
Menos de 500 mil                             80263
Entre 500 mil y menos de 1 millón            78704
Entre 4 millones y menos de 5.5 millones     69736
Más de 7 millones                            68014
Entre 5.5 millones y menos de 7 millones     38490
No pagó matrícula                            25815
Name: count, dtype: int64

In [ ]:
matricula = ['No pagó matrícula','Menos de 500 mil','Entre 500 mil y menos de 1 millón',
                     'Entre 1 millón y menos de 2.5 millones',
                     'Entre 2.5 millones y menos de 4 millones',
                     'Entre 4 millones y menos de 5.5 millones',
                     'Entre 5.5 millones y menos de 7 millones','Más de 7 millones']
enc = OrdinalEncoder(categories = [matricula])
train['ESTU_VALORMATRICULAUNIVERSIDAD'] = enc.fit_transform(train[['ESTU_VALORMATRICULAUNIVERSIDAD']])

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'].value_counts()

ESTU_VALORMATRICULAUNIVERSIDAD
3.0    204048
4.0    127430
1.0     80263
2.0     78704
5.0     69736
7.0     68014
6.0     38490
0.0     25815
Name: count, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['ESTU_VALORMATRICULAUNIVERSIDAD'] = scaler.fit_transform(train[['ESTU_VALORMATRICULAUNIVERSIDAD']])
train['ESTU_VALORMATRICULAUNIVERSIDAD'].value_counts()

ESTU_VALORMATRICULAUNIVERSIDAD
0.428571    204048
0.571429    127430
0.142857     80263
0.285714     78704
0.714286     69736
1.000000     68014
0.857143     38490
0.000000     25815
Name: count, dtype: int64

*Columna ESTU_PRGM_ACADEMICO*

In [ ]:
train["ESTU_PRGM_ACADEMICO"].value_counts()

ESTU_PRGM_ACADEMICO
INGENIERIA                 148273
ADMINISTRACION             127997
LICENCIATURA                65084
DERECHO                     53244
CONTADURIA                  53066
                            ...
NARRATIVAS DIGITALES            7
COMPUTACION CIENTIFICA          5
OCEANOGRAFIA                    4
INGENIIERIA DE SOFTWARE         3
ANIMACION                       2
Name: count, Length: 122, dtype: int64

In [ ]:
totalProgramas = train["ESTU_PRGM_ACADEMICO"].value_counts().index.tolist()
enc = OrdinalEncoder(categories = [totalProgramas])
train["ESTU_PRGM_ACADEMICO"] = enc.fit_transform(train[["ESTU_PRGM_ACADEMICO"]])

In [ ]:
train["ESTU_PRGM_ACADEMICO"].value_counts()

ESTU_PRGM_ACADEMICO
0.0      148273
1.0      127997
2.0       65084
3.0       53244
4.0       53066
          ...
117.0         7
118.0         5
119.0         4
120.0         3
121.0         2
Name: count, Length: 122, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['ESTU_PRGM_ACADEMICO'] = scaler.fit_transform(train[['ESTU_PRGM_ACADEMICO']])
train['ESTU_PRGM_ACADEMICO'].value_counts()

ESTU_PRGM_ACADEMICO
0.000000    148273
0.008264    127997
0.016529     65084
0.024793     53244
0.033058     53066
             ...
0.966942         7
0.975207         5
0.983471         4
0.991736         3
1.000000         2
Name: count, Length: 122, dtype: int64

*Columna ESTU_PRGM_DEPARTAMENTO*

In [ ]:
train['ESTU_PRGM_DEPARTAMENTO'].unique()

array(['ANDINA', 'CARIBE', 'AMAZONA', 'PACIFICA', 'ORINOQUIA'],
      dtype=object)

In [ ]:
train['ESTU_PRGM_DEPARTAMENTO'].isna().sum()

0

In [ ]:
totalDepartamento = train['ESTU_PRGM_DEPARTAMENTO'].value_counts().index.tolist()
enc = OrdinalEncoder(categories = [totalDepartamento])
train['ESTU_PRGM_DEPARTAMENTO'] = enc.fit_transform(train[['ESTU_PRGM_DEPARTAMENTO']])

In [ ]:
train['ESTU_PRGM_DEPARTAMENTO'].value_counts()

ESTU_PRGM_DEPARTAMENTO
0.0    499712
1.0    105090
2.0     73802
3.0     10351
4.0      3545
Name: count, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['ESTU_PRGM_DEPARTAMENTO'] = scaler.fit_transform(train[['ESTU_PRGM_DEPARTAMENTO']])
train['ESTU_PRGM_DEPARTAMENTO'].value_counts()

ESTU_PRGM_DEPARTAMENTO
0.00    499712
0.25    105090
0.50     73802
0.75     10351
1.00      3545
Name: count, dtype: int64

In [ ]:
totalDepartamento = train['RENDIMIENTO_GLOBAL'].value_counts().index.tolist()
enc = OrdinalEncoder(categories = [totalDepartamento])
train['RENDIMIENTO_GLOBAL'] = enc.fit_transform(train[['RENDIMIENTO_GLOBAL']])

In [ ]:
scaler = MinMaxScaler()
train['RENDIMIENTO_GLOBAL'] = scaler.fit_transform(train[['RENDIMIENTO_GLOBAL']])
train['RENDIMIENTO_GLOBAL'].value_counts()

RENDIMIENTO_GLOBAL
0.000000    175619
0.333333    172987
0.666667    172275
1.000000    171619
Name: count, dtype: int64

In [ ]:
train.drop(columns=['ID'], inplace=True)
train.drop(columns=['PERIODO'], inplace=True)

In [ ]:
train.head()

,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL
0,0.074380,0.00,0.857143,0.25,0.500000,1.0,0.555556,1.000000,0.0,1.000000
1,0.024793,0.25,0.571429,0.00,0.500000,0.0,0.666667,0.555556,0.0,0.333333
2,0.115702,0.00,0.571429,1.00,0.500000,1.0,0.444444,0.444444,0.0,0.333333
3,0.008264,0.00,0.714286,0.00,0.666667,1.0,0.000000,0.444444,0.0,0.000000
4,0.041322,0.00,0.571429,0.75,0.500000,1.0,0.222222,0.222222,0.0,0.666667

In [ ]:
train.to_csv('trainPrepocesado.csv', index=False)

#Pre-Procesamiento para test.csv

In [ ]:
train = pd.read_csv('test.csv')
train.head()

,Unnamed: 0,ID,PERIODO,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO
0,0,550236,20183,TRABAJO SOCIAL,BOLIVAR,Menos de 500 mil,Menos de 10 horas,Estrato 3,Si,Técnica o tecnológica completa,Primaria completa,Si
1,1,98545,20203,ADMINISTRACION COMERCIAL Y DE MERCADEO,ANTIOQUIA,Entre 2.5 millones y menos de 4 millones,Entre 21 y 30 horas,Estrato 2,Si,Secundaria (Bachillerato) completa,Técnica o tecnológica completa,No
2,2,499179,20212,INGENIERIA MECATRONICA,BOGOTÁ,Entre 1 millón y menos de 2.5 millones,0,Estrato 3,Si,Secundaria (Bachillerato) incompleta,Secundaria (Bachillerato) completa,No
3,3,782980,20195,CONTADURIA PUBLICA,SUCRE,Entre 1 millón y menos de 2.5 millones,Entre 21 y 30 horas,Estrato 1,No,Primaria incompleta,Primaria incompleta,No
4,4,785185,20212,ADMINISTRACION DE EMPRESAS,ATLANTICO,Entre 2.5 millones y menos de 4 millones,Entre 11 y 20 horas,Estrato 2,Si,Secundaria (Bachillerato) completa,Secundaria (Bachillerato) completa,No

In [ ]:
train.value_counts()

Unnamed: 0  ID      PERIODO  ESTU_PRGM_ACADEMICO                             ESTU_PRGM_DEPARTAMENTO  ESTU_VALORMATRICULAUNIVERSIDAD            ESTU_HORASSEMANATRABAJA  FAMI_ESTRATOVIVIENDA  FAMI_TIENEINTERNET  FAMI_EDUCACIONPADRE                   FAMI_EDUCACIONMADRE                 ESTU_PAGOMATRICULAPROPIO
0           550236  20183    TRABAJO SOCIAL                                  BOLIVAR                 Menos de 500 mil                          Menos de 10 horas        Estrato 3             Si                  Técnica o tecnológica completa        Primaria completa                   Si                          1
197774      146672  20212    NEGOCIOS INTERNACIONALES                        ANTIOQUIA               Entre 2.5 millones y menos de 4 millones  0                        Estrato 2             Si                  No sabe                               Técnica o tecnológica completa      No                          1
197760      969385  20212    PROFESIONAL EN ADMINISTRACIÓN DE EMPRESAS       BOGOTÁ                  Entre 2.5 millones y menos de 4 millones  Menos de 10 horas        Estrato 3             Si                  Primaria incompleta                   Primaria incompleta                 Si                          1
197761      836442  20195    DERECHO                                         ATLANTICO               Más de 7 millones                         0                        Estrato 3             Si                  Postgrado                             Educación profesional completa      No                          1
197762      934993  20212    ADMINISTRACION DE EMPRESAS                      CAUCA                   No pagó matrícula                         Entre 21 y 30 horas      Estrato 2             Si                  Secundaria (Bachillerato) completa    Técnica o tecnológica completa      No                          1
                                                                                                                                                                                                                                                                                                                       ..
98817       708251  20183    LICENCIATURA EN LENGUA CASTELLANA Y LITERATURA  NARIÑO                  Menos de 500 mil                          Menos de 10 horas        Estrato 2             No                  Secundaria (Bachillerato) incompleta  Secundaria (Bachillerato) completa  No                          1
98818       358986  20203    ADMINISTRACIÓN EN SALUD OCUPACIONAL             BOGOTÁ                  Entre 1 millón y menos de 2.5 millones    Entre 21 y 30 horas      Estrato 2             Si                  Ninguno                               Primaria incompleta                 Si                          1
98819       447450  20203    INGENIERIA CIVIL                                META                    Entre 2.5 millones y menos de 4 millones  Entre 11 y 20 horas      Estrato 2             Si                  Secundaria (Bachillerato) completa    Secundaria (Bachillerato) completa  Si                          1
98820       452153  20203    ADMINISTRACIÓN EN SALUD OCUPACIONAL             BOGOTÁ                  Entre 1 millón y menos de 2.5 millones    Más de 30 horas          Estrato 2             Si                  Secundaria (Bachillerato) completa    Postgrado                           Si                          1
296785      792650  20212    INGENIERIA INDUSTRIAL                           BOYACA                  No pagó matrícula                         0                        Estrato 3             Si                  Secundaria (Bachillerato) completa    Secundaria (Bachillerato) completa  No                          1
Name: count, Length: 276654, dtype: int64

## Overview


Para la limpieza del archivo train.csv, se realizarán las siguientes operaciones:


1.   Estandarización de datos:
      *   ESTU_PRGM_ACADEMICO

2.   Relleno de datos faltantes:
      *   **FAMI_ESTRATOVIVIENDA:** se rellenan los vacíos con el estrato que tiene más repeticiones entre todo el dataset, dado que todo estudiante debe pertenecer a uno.
      *   **FAMI_TIENEINTERNET:** asumimos un espacio vacío como un "No".
      *   **FAMI_EDUCACIONPADRE:** asumimos un espacio vacío como un "No aplica" y se suma a las filas que tienen "No sabe" como entrada.
      *   **FAMI_EDUCACIONMADRE:** asumimos un espacio vacío como un "No aplica".
      *   **ESTU_VALORMATRICULAUNIVERSIDAD:** asumimos un espacio vacío como un "No pagó matrícula".
      *   **ESTU_HORASSEMANATRABAJA:** asumimos un espacio vacío como un "No trabaja"
      *   **ESTU_PAGOMATRICULAPROPIO:** asumimos un espacio vacío como un "No".


3.   Sustituimos los valores "Sí" / "No" por "1" / "0" respectivamente:
      *   FAMI_TIENEINTERNET
      *   ESTU_PAGOMATRICULAPROPIO
      *   FAMI_TIENEINTERNET


4.   Usamos One Hot para categorizar las siguientes columnas:
      *   FAMI_ESTRATOVIVIENDA
      *   FAMI_EDUCACIONPADRE
      *   ESTU_HORASSEMANATRABAJA
      *   ESTU_VALORMATRICULAUNIVERSIDAD
      *   ESTU_PRGM_ACADEMICO
      *   ESTU_PRGM_DEPARTAMENTO

## **1. Estandarización de datos**

*Columna ESTU_PRGM_ACADEMICO*

In [ ]:
train['ESTU_PRGM_ACADEMICO'] = (train['ESTU_PRGM_ACADEMICO']
                                 .str.replace(r'^PROFESIONAL EN\s+', '', regex=True)
                                 .str.replace(r'\s+', ' ', regex=True)
                                 .str.upper()
                                 .apply(unidecode)
                               )

reemplazos = {
    r'INGENIE?RIA': 'INGENIERIA',
    r'EDUCACIO?N\b': 'EDUCACION',
    r'RECREACIO?N\b': 'RECREACION',
    r'FISICA\b': 'FISICA',
    r'ESCENICAS\b': 'ESCENICAS',
    r'MATEMATICAS\b': 'MATEMATICAS',
    r'FILOSOFIA\b': 'FILOSOFIA',
    r'DISEÑO\b': 'DISEÑO',
    r'COMUNICACIO?N\b': 'COMUNICACION',
    r'GRAFICA\b': 'GRAFICA',
    r'ELECTRICA\b': 'ELECTRICA',
    r'QUIMICA\b': 'QUIMICA',
    r'FARMACEUTICA\b': 'FARMACEUTICA',
    r'ADMINISTRACIO?N\b': 'ADMINISTRACION',
    r'PUBLICA\b': 'PUBLICA',
    r'INGLES\b': 'INGLES',
    r'ENFASIS\b': 'ENFASIS',
    r'GESTIO?N\b': 'GESTION',
    r'MUSICA\b': 'MUSICA',
    r'ECONOMIA\b': 'ECONOMIA',
    r'GASTRONOMIA\b': 'GASTRONOMIA',
    r'BASICA\b': 'BASICA',
    r'GEOLOGIA\b': 'GEOLOGIA',
    r'PEDAGOGIA\b': 'PEDAGOGIA',
    r'ARTISTICA\b': 'ARTISTICA',
    r'LOGISTICA\b': 'LOGISTICA',
}

for pattern, replacement in reemplazos.items():
    train['ESTU_PRGM_ACADEMICO'] = train['ESTU_PRGM_ACADEMICO'].replace(pattern, replacement, regex=True)

In [ ]:
reemplazos = {
    r'.*INGENIERIA.*': 'INGENIERIA',
    r'ADMINISTRACION.*': 'ADMINISTRACION',
    r'QUIMICA.*': 'QUIMICA',
    r'DISEÑO.*': 'DISEÑO',
    r'DISENO.*': 'DISEÑO',
    r'.*ARTE.*': 'ARTES',
    r'LICENCIATURA.*': 'LICENCIATURA',
    r'.*DEPORT.*': 'DEPORTE',
    r'CIENCIA.*': 'CIENCIAS',
    r'COMUNICACION.*': 'COMUNICACION',
    r'GESTION.*': 'GESTION',
    r'FILOSOFIA.*': 'FILOSOFIA',
    r'NEGOCIOS.*': 'NEGOCIOS',
    r'.*MERCAD.*': 'MERCADEO',
    r'CINE.*': 'CINE',
    r'.*AGRO.*': 'AGRONOMIA',
    r'HOTELERIA.*': 'HOTELERIA',
    r'GEREN.*': 'GERENCIA',
    r'ECONO.*': 'ECONOMIA',
    r'.*QUIRURGICA.*': 'MEDICINA',
    r'.*LITERA.*': 'LITERATURA',
    r'.*PSICOLO.*' : 'PSICOLOGIA',
    r'.*BIOLOGIA.*' : 'BIOLOGIA',
    r'MATEMATICAS.*': 'MATEMATICAS',
    r'ADMIN.*': 'ADMINISTRACION',
    r'ESTUDIOS.*': 'ESTUDIOS',
    r'FINANZAS.*': 'FINANZAS',
    r'CONSTRUCCION.*': 'CONSTRUCCION',
    r'DIRECCION.*': 'DIRECCION',
    r'RELACIONES.*': 'RELACIONES',
    r'.*FILOL.*': 'FILOLOGIA',
    r'COMERCIO.*': 'COMERCIO',
    r'PUBLICI.*': 'PUBLICIDAD',
    r'CONTADURIA.*': 'CONTADURIA',
    r'GEO.*': 'GEOGRAFIA',
    r'MARK.*': 'MERCADEO',
    r'.*MUSICA.*': 'MUSICA',
    r'.*GASTR.*': 'GASTRONOMIA',
    r'PROFESIONAL.*': 'PROFESIONAL ',
    r'LENG.*': 'LENGUAS',
    r'.*ZOO.*': 'ZOOLOGIA',
    r'.*VETE.*':'VETERINARIA',
    r'HISTORIA.*': 'HISTORIA',
    r'\?': '',
}

for pattern, replacement in reemplazos.items():
    train['ESTU_PRGM_ACADEMICO'] = train['ESTU_PRGM_ACADEMICO'].replace(pattern, replacement, regex=True)

In [ ]:
reemplazos = {
    'ANTIOQUIA': 'ANDINA',
    'BOYACA': 'ANDINA',
    'BOGOTÁ': 'ANDINA',
    'CALDAS': 'ANDINA',
    'CUNDINAMARCA': 'ANDINA',
    'HUILA': 'ANDINA',
    'NORTE SANTANDER': 'ANDINA',
    'QUINDIO': 'ANDINA',
    'RISARALDA': 'ANDINA',
    'SANTANDER': 'ANDINA',
    'TOLIMA': 'ANDINA',
    'AMAZONAS': 'AMAZONA',
    'CAQUETA': 'AMAZONA',
    'VAUPES': 'AMAZONA',
    'GUAVIARE': 'AMAZONA',
    'PUTUMAYO': 'AMAZONA',
    'VALLE': 'PACIFICA',
    'CHOCO': 'PACIFICA',
    'CAUCA': 'PACIFICA',
    'NARIÑO': 'PACIFICA',
    'ATLANTICO': 'CARIBE',
    'BOLIVAR': 'CARIBE',
    'CESAR': 'CARIBE',
    'CORDOBA': 'CARIBE',
    'LA GUAJIRA': 'CARIBE',
    'MAGDALENA': 'CARIBE',
    'SUCRE': 'CARIBE',
    'SAN ANDRES': 'CARIBE',
    'ARAUCA': 'ORINOQUIA',
    'CASANARE': 'ORINOQUIA',
    'META': 'ORINOQUIA',
    'VICHADA': 'ORINOQUIA'
}

for old_value, new_value in reemplazos.items():
    train['ESTU_PRGM_DEPARTAMENTO'] = train['ESTU_PRGM_DEPARTAMENTO'].astype(str).str.replace(old_value, new_value)

## **2. Relleno de datos faltantes**

Columna *FAMI_ESTRATOVIVIENDA*

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].unique()

array(['Estrato 3', 'Estrato 2', 'Estrato 1', 'Estrato 4', nan,
       'Estrato 6', 'Estrato 5', 'Sin Estrato'], dtype=object)

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
Estrato 2      99288
Estrato 3      90719
Estrato 1      48092
Estrato 4      27823
Estrato 5      10194
Estrato 6       5451
Sin Estrato     1424
Name: count, dtype: int64

In [ ]:
train['FAMI_ESTRATOVIVIENDA'] = train['FAMI_ESTRATOVIVIENDA'].fillna('Estrato 2')

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].isna().sum()

0

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
Estrato 2      113083
Estrato 3       90719
Estrato 1       48092
Estrato 4       27823
Estrato 5       10194
Estrato 6        5451
Sin Estrato      1424
Name: count, dtype: int64

*Columna FAMI_TIENEINTERNET*

In [ ]:
train['FAMI_TIENEINTERNET'].unique()

array(['Si', 'No', nan], dtype=object)

In [ ]:
train['FAMI_TIENEINTERNET'].value_counts()

FAMI_TIENEINTERNET
Si    254075
No     31172
Name: count, dtype: int64

In [ ]:
train['FAMI_TIENEINTERNET'].isna().sum()

11539

In [ ]:
train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].fillna("No")

In [ ]:
train['FAMI_TIENEINTERNET'].value_counts()

FAMI_TIENEINTERNET
Si    254075
No     42711
Name: count, dtype: int64

*Columna FAMI_EDUCACIONPADRE*

In [ ]:
train['FAMI_EDUCACIONPADRE'].unique()

array(['Técnica o tecnológica completa',
       'Secundaria (Bachillerato) completa',
       'Secundaria (Bachillerato) incompleta', 'Primaria incompleta',
       'Ninguno', 'Primaria completa', 'Postgrado', nan,
       'Educación profesional completa',
       'Técnica o tecnológica incompleta',
       'Educación profesional incompleta', 'No sabe', 'No Aplica'],
      dtype=object)

In [ ]:
train['FAMI_EDUCACIONPADRE'].isna().sum()

9993

In [ ]:
train['FAMI_EDUCACIONPADRE'] = train['FAMI_EDUCACIONPADRE'].replace(r'Ninguno', 'No Aplica')
train['FAMI_EDUCACIONPADRE'] = train['FAMI_EDUCACIONPADRE'].replace(r'No sabe', 'No Aplica')

In [ ]:
train['FAMI_EDUCACIONPADRE'] = train['FAMI_EDUCACIONPADRE'].fillna('No Aplica')

In [ ]:
train['FAMI_EDUCACIONPADRE'].value_counts()

FAMI_EDUCACIONPADRE
Secundaria (Bachillerato) completa      54838
Primaria incompleta                     53432
Educación profesional completa          35412
Secundaria (Bachillerato) incompleta    30641
No Aplica                               30579
Técnica o tecnológica completa          27045
Primaria completa                       24131
Postgrado                               19287
Educación profesional incompleta        11744
Técnica o tecnológica incompleta         9677
Name: count, dtype: int64

*Columna FAMI_EDUCACIONMADRE*

In [ ]:
train['FAMI_EDUCACIONMADRE'].unique()

array(['Primaria completa', 'Técnica o tecnológica completa',
       'Secundaria (Bachillerato) completa', 'Primaria incompleta',
       'Postgrado', 'Secundaria (Bachillerato) incompleta', nan,
       'Ninguno', 'Educación profesional completa',
       'Técnica o tecnológica incompleta',
       'Educación profesional incompleta', 'No sabe', 'No Aplica'],
      dtype=object)

In [ ]:
train['FAMI_EDUCACIONMADRE'].isna().sum()

10223

In [ ]:
train['FAMI_EDUCACIONMADRE'] = train['FAMI_EDUCACIONMADRE'].replace(r'Ninguno', 'No Aplica')
train['FAMI_EDUCACIONMADRE'] = train['FAMI_EDUCACIONMADRE'].replace(r'No sabe', 'No Aplica')

In [ ]:
train['FAMI_EDUCACIONMADRE'] = train['FAMI_EDUCACIONMADRE'].fillna('No Aplica')

In [ ]:
train['FAMI_EDUCACIONMADRE'].value_counts()

FAMI_EDUCACIONMADRE
Secundaria (Bachillerato) completa      60649
Primaria incompleta                     42149
Técnica o tecnológica completa          38571
Educación profesional completa          36477
Secundaria (Bachillerato) incompleta    34566
Primaria completa                       24399
Postgrado                               20049
No Aplica                               18629
Técnica o tecnológica incompleta        11650
Educación profesional incompleta         9647
Name: count, dtype: int64

*Columna ESTU_VALORMATRICULAUNIVERSIDAD*

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'].unique()

array(['Menos de 500 mil', 'Entre 2.5 millones y menos de 4 millones',
       'Entre 1 millón y menos de 2.5 millones',
       'Entre 500 mil y menos de 1 millón', 'Más de 7 millones',
       'Entre 4 millones y menos de 5.5 millones',
       'Entre 5.5 millones y menos de 7 millones', 'No pagó matrícula',
       nan], dtype=object)

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'].isna().sum()

2723

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'] = train['ESTU_VALORMATRICULAUNIVERSIDAD'].fillna("No pagó matrícula")

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'].value_counts()

ESTU_VALORMATRICULAUNIVERSIDAD
Entre 1 millón y menos de 2.5 millones      86923
Entre 2.5 millones y menos de 4 millones    55193
Menos de 500 mil                            34589
Entre 500 mil y menos de 1 millón           33564
Entre 4 millones y menos de 5.5 millones    29855
Más de 7 millones                           29061
Entre 5.5 millones y menos de 7 millones    16558
No pagó matrícula                           11043
Name: count, dtype: int64

*Columna ESTU_HORASSEMANATRABAJA*

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].unique()

array(['Menos de 10 horas', 'Entre 21 y 30 horas', '0',
       'Entre 11 y 20 horas', 'Más de 30 horas', nan], dtype=object)

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        106189
0                       50422
Entre 11 y 20 horas     49386
Entre 21 y 30 horas     39931
Menos de 10 horas       37479
Name: count, dtype: int64

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].isna().sum()

13379

In [ ]:
train['ESTU_HORASSEMANATRABAJA'] = train['ESTU_HORASSEMANATRABAJA'].fillna('0')

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        106189
0                       63801
Entre 11 y 20 horas     49386
Entre 21 y 30 horas     39931
Menos de 10 horas       37479
Name: count, dtype: int64

*Columna ESTU_PAGOMATRICULAPROPIO*

In [ ]:
train['ESTU_PAGOMATRICULAPROPIO'].unique()

array(['Si', 'No', nan], dtype=object)

In [ ]:
train['ESTU_PAGOMATRICULAPROPIO'].isna().sum()

2807

In [ ]:
train['ESTU_PAGOMATRICULAPROPIO'] = train['ESTU_PAGOMATRICULAPROPIO'].fillna('No')

In [ ]:
train['ESTU_PAGOMATRICULAPROPIO'].value_counts()

ESTU_PAGOMATRICULAPROPIO
No    166676
Si    130110
Name: count, dtype: int64

## **3. Sustituimos los valores "Sí" / "No" por "1" / "0" respectivamente**

*Columna FAMI_TIENEINTERNET*

In [ ]:
train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].replace(r'Si', 1.0)
train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].replace(r'No', 0.0)
train['FAMI_TIENEINTERNET'].value_counts()

<ipython-input-336-6371c068c386>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].replace(r'No', 0.0)

FAMI_TIENEINTERNET
1.0    254075
0.0     42711
Name: count, dtype: int64

*Columna ESTU_PAGOMATRICULAPROPIO*

In [ ]:
train['ESTU_PAGOMATRICULAPROPIO'] = train['ESTU_PAGOMATRICULAPROPIO'].replace(r'Si', 1.0)
train['ESTU_PAGOMATRICULAPROPIO'] = train['ESTU_PAGOMATRICULAPROPIO'].replace(r'No', 0.0)
train['ESTU_PAGOMATRICULAPROPIO'].value_counts()

<ipython-input-337-e0ba6fd8b872>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['ESTU_PAGOMATRICULAPROPIO'] = train['ESTU_PAGOMATRICULAPROPIO'].replace(r'No', 0.0)

ESTU_PAGOMATRICULAPROPIO
0.0    166676
1.0    130110
Name: count, dtype: int64

*Columna FAMI_TIENEINTERNET*

In [ ]:
train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].replace(r'Si', 1.0)
train['FAMI_TIENEINTERNET'] = train['FAMI_TIENEINTERNET'].replace(r'No', 0.0)
train['FAMI_TIENEINTERNET'].value_counts()

FAMI_TIENEINTERNET
1.0    254075
0.0     42711
Name: count, dtype: int64

##**4. Usamos One Hot para categorizar las columnas**

*Columna FAMI_ESTRATOVIVIENDA*

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].unique()

array(['Estrato 3', 'Estrato 2', 'Estrato 1', 'Estrato 4', 'Estrato 6',
       'Estrato 5', 'Sin Estrato'], dtype=object)

In [ ]:
estratos = ['Sin Estrato','Estrato 1','Estrato 2',
            'Estrato 3', 'Estrato 4', 'Estrato 5',
            'Estrato 6']
enc = OrdinalEncoder(categories = [estratos])
train['FAMI_ESTRATOVIVIENDA'] = enc.fit_transform(train[['FAMI_ESTRATOVIVIENDA']])

In [ ]:
train['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
2.0    113083
3.0     90719
1.0     48092
4.0     27823
5.0     10194
6.0      5451
0.0      1424
Name: count, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['FAMI_ESTRATOVIVIENDA'] = scaler.fit_transform(train[['FAMI_ESTRATOVIVIENDA']])
train['FAMI_ESTRATOVIVIENDA'].value_counts()

FAMI_ESTRATOVIVIENDA
0.333333    113083
0.500000     90719
0.166667     48092
0.666667     27823
0.833333     10194
1.000000      5451
0.000000      1424
Name: count, dtype: int64

*Columna FAMI_EDUCACIONPADRE*

In [ ]:
train['FAMI_EDUCACIONPADRE'].value_counts()

FAMI_EDUCACIONPADRE
Secundaria (Bachillerato) completa      54838
Primaria incompleta                     53432
Educación profesional completa          35412
Secundaria (Bachillerato) incompleta    30641
No Aplica                               30579
Técnica o tecnológica completa          27045
Primaria completa                       24131
Postgrado                               19287
Educación profesional incompleta        11744
Técnica o tecnológica incompleta         9677
Name: count, dtype: int64

In [ ]:
educacionPadre = ['No Aplica','Primaria incompleta','Primaria completa',
            'Secundaria (Bachillerato) incompleta', 'Secundaria (Bachillerato) completa', 'Técnica o tecnológica incompleta',
            'Técnica o tecnológica completa', 'Educación profesional incompleta', 'Educación profesional completa',
            'Postgrado']
enc = OrdinalEncoder(categories = [educacionPadre])
train['FAMI_EDUCACIONPADRE'] = enc.fit_transform(train[['FAMI_EDUCACIONPADRE']])

In [ ]:
train['FAMI_EDUCACIONPADRE'].value_counts()

FAMI_EDUCACIONPADRE
4.0    54838
1.0    53432
8.0    35412
3.0    30641
0.0    30579
6.0    27045
2.0    24131
9.0    19287
7.0    11744
5.0     9677
Name: count, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['FAMI_EDUCACIONPADRE'] = scaler.fit_transform(train[['FAMI_EDUCACIONPADRE']])
train['FAMI_EDUCACIONPADRE'].value_counts()

FAMI_EDUCACIONPADRE
0.444444    54838
0.111111    53432
0.888889    35412
0.333333    30641
0.000000    30579
0.666667    27045
0.222222    24131
1.000000    19287
0.777778    11744
0.555556     9677
Name: count, dtype: int64

In [ ]:
educacionPadre = ['No Aplica','Primaria incompleta','Primaria completa',
            'Secundaria (Bachillerato) incompleta', 'Secundaria (Bachillerato) completa', 'Técnica o tecnológica incompleta',
            'Técnica o tecnológica completa', 'Educación profesional incompleta', 'Educación profesional completa',
            'Postgrado']
enc = OrdinalEncoder(categories = [educacionPadre])
train['FAMI_EDUCACIONMADRE'] = enc.fit_transform(train[['FAMI_EDUCACIONMADRE']])
scaler = MinMaxScaler()
train['FAMI_EDUCACIONMADRE'] = scaler.fit_transform(train[['FAMI_EDUCACIONMADRE']])
train['FAMI_EDUCACIONMADRE'].value_counts()

FAMI_EDUCACIONMADRE
0.444444    60649
0.111111    42149
0.666667    38571
0.888889    36477
0.333333    34566
0.222222    24399
1.000000    20049
0.000000    18629
0.555556    11650
0.777778     9647
Name: count, dtype: int64

*Columna ESTU_HORASSEMANATRABAJA*

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
Más de 30 horas        106189
0                       63801
Entre 11 y 20 horas     49386
Entre 21 y 30 horas     39931
Menos de 10 horas       37479
Name: count, dtype: int64

In [ ]:
horasTrabajo = ['0','Menos de 10 horas','Entre 11 y 20 horas',
                'Entre 21 y 30 horas',
                'Más de 30 horas']
enc = OrdinalEncoder(categories = [horasTrabajo])
train['ESTU_HORASSEMANATRABAJA'] = enc.fit_transform(train[['ESTU_HORASSEMANATRABAJA']])

In [ ]:
train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
4.0    106189
0.0     63801
2.0     49386
3.0     39931
1.0     37479
Name: count, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['ESTU_HORASSEMANATRABAJA'] = scaler.fit_transform(train[['ESTU_HORASSEMANATRABAJA']])
train['ESTU_HORASSEMANATRABAJA'].value_counts()

ESTU_HORASSEMANATRABAJA
1.00    106189
0.00     63801
0.50     49386
0.75     39931
0.25     37479
Name: count, dtype: int64

*Columna ESTU_VALORMATRICULAUNIVERSIDAD*

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'].value_counts()

ESTU_VALORMATRICULAUNIVERSIDAD
Entre 1 millón y menos de 2.5 millones      86923
Entre 2.5 millones y menos de 4 millones    55193
Menos de 500 mil                            34589
Entre 500 mil y menos de 1 millón           33564
Entre 4 millones y menos de 5.5 millones    29855
Más de 7 millones                           29061
Entre 5.5 millones y menos de 7 millones    16558
No pagó matrícula                           11043
Name: count, dtype: int64

In [ ]:
matricula = ['No pagó matrícula','Menos de 500 mil','Entre 500 mil y menos de 1 millón',
                     'Entre 1 millón y menos de 2.5 millones',
                     'Entre 2.5 millones y menos de 4 millones',
                     'Entre 4 millones y menos de 5.5 millones',
                     'Entre 5.5 millones y menos de 7 millones','Más de 7 millones']
enc = OrdinalEncoder(categories = [matricula])
train['ESTU_VALORMATRICULAUNIVERSIDAD'] = enc.fit_transform(train[['ESTU_VALORMATRICULAUNIVERSIDAD']])

In [ ]:
train['ESTU_VALORMATRICULAUNIVERSIDAD'].value_counts()

ESTU_VALORMATRICULAUNIVERSIDAD
3.0    86923
4.0    55193
1.0    34589
2.0    33564
5.0    29855
7.0    29061
6.0    16558
0.0    11043
Name: count, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['ESTU_VALORMATRICULAUNIVERSIDAD'] = scaler.fit_transform(train[['ESTU_VALORMATRICULAUNIVERSIDAD']])
train['ESTU_VALORMATRICULAUNIVERSIDAD'].value_counts()

ESTU_VALORMATRICULAUNIVERSIDAD
0.428571    86923
0.571429    55193
0.142857    34589
0.285714    33564
0.714286    29855
1.000000    29061
0.857143    16558
0.000000    11043
Name: count, dtype: int64

*Columna ESTU_PRGM_ACADEMICO*

In [ ]:
train["ESTU_PRGM_ACADEMICO"].value_counts()

ESTU_PRGM_ACADEMICO
INGENIERIA                                             63893
ADMINISTRACION                                         55028
LICENCIATURA                                           27492
DERECHO                                                22984
CONTADURIA                                             22668
                                                       ...
CONSERVACION Y RESTAURACION DE BIENES MUEBLES              4
URBANISMO                                                  4
OCEANOGRAFIA                                               2
COMPUTACION CIENTIFICA                                     1
LICENC.EN EDUCACION BASICA PRIMARIA ENF.EN CIENCIAS        1
Name: count, Length: 122, dtype: int64

In [ ]:
totalProgramas = train["ESTU_PRGM_ACADEMICO"].value_counts().index.tolist()
enc = OrdinalEncoder(categories = [totalProgramas])
train["ESTU_PRGM_ACADEMICO"] = enc.fit_transform(train[["ESTU_PRGM_ACADEMICO"]])

In [ ]:
train["ESTU_PRGM_ACADEMICO"].value_counts()

ESTU_PRGM_ACADEMICO
0.0      63893
1.0      55028
2.0      27492
3.0      22984
4.0      22668
         ...
117.0        4
118.0        4
119.0        2
120.0        1
121.0        1
Name: count, Length: 122, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['ESTU_PRGM_ACADEMICO'] = scaler.fit_transform(train[['ESTU_PRGM_ACADEMICO']])
train['ESTU_PRGM_ACADEMICO'].value_counts()

ESTU_PRGM_ACADEMICO
0.000000    63893
0.008264    55028
0.016529    27492
0.024793    22984
0.033058    22668
            ...
0.966942        4
0.975207        4
0.983471        2
0.991736        1
1.000000        1
Name: count, Length: 122, dtype: int64

*Columna ESTU_PRGM_DEPARTAMENTO*

In [ ]:
train['ESTU_PRGM_DEPARTAMENTO'].unique()

array(['CARIBE', 'ANDINA', 'PACIFICA', 'ORINOQUIA', 'AMAZONA'],
      dtype=object)

In [ ]:
train['ESTU_PRGM_DEPARTAMENTO'].isna().sum()

0

In [ ]:
totalDepartamento = train['ESTU_PRGM_DEPARTAMENTO'].value_counts().index.tolist()
enc = OrdinalEncoder(categories = [totalDepartamento])
train['ESTU_PRGM_DEPARTAMENTO'] = enc.fit_transform(train[['ESTU_PRGM_DEPARTAMENTO']])

In [ ]:
train['ESTU_PRGM_DEPARTAMENTO'].value_counts()

ESTU_PRGM_DEPARTAMENTO
0.0    213954
1.0     45228
2.0     31586
3.0      4490
4.0      1528
Name: count, dtype: int64

In [ ]:
scaler = MinMaxScaler()
train['ESTU_PRGM_DEPARTAMENTO'] = scaler.fit_transform(train[['ESTU_PRGM_DEPARTAMENTO']])
train['ESTU_PRGM_DEPARTAMENTO'].value_counts()

ESTU_PRGM_DEPARTAMENTO
0.00    213954
0.25     45228
0.50     31586
0.75      4490
1.00      1528
Name: count, dtype: int64

In [ ]:
train.drop(columns=['ID'], inplace=True)
train.drop(columns=['PERIODO'], inplace=True)

In [ ]:
train.head()

,Unnamed: 0,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO
0,0,0.066116,0.25,0.142857,0.25,0.500000,1.0,0.666667,0.222222,1.0
1,1,0.008264,0.00,0.571429,0.75,0.333333,1.0,0.444444,0.666667,0.0
2,2,0.000000,0.00,0.428571,0.00,0.500000,1.0,0.333333,0.444444,0.0
3,3,0.033058,0.25,0.428571,0.75,0.166667,0.0,0.111111,0.111111,0.0
4,4,0.008264,0.25,0.571429,0.50,0.333333,1.0,0.444444,0.444444,0.0

In [ ]:
train.to_csv('testPrepocesado.csv', index=False)

#Pre-procesamiento para

In [ ]:
train = pd.read_csv('submission_example.csv')
train.head()

       ID RENDIMIENTO_GLOBAL
0  550236         medio-bajo
1   98545         medio-bajo
2  499179         medio-alto
3  782980               alto
4  785185         medio-bajo

In [ ]:
totalDepartamento = train['RENDIMIENTO_GLOBAL'].value_counts().index.tolist()
enc = OrdinalEncoder(categories = [totalDepartamento])
train['RENDIMIENTO_GLOBAL'] = enc.fit_transform(train[['RENDIMIENTO_GLOBAL']])

In [ ]:
scaler = MinMaxScaler()
train['RENDIMIENTO_GLOBAL'] = scaler.fit_transform(train[['RENDIMIENTO_GLOBAL']])
train['RENDIMIENTO_GLOBAL'].value_counts()

RENDIMIENTO_GLOBAL
0.000000    74539
0.333333    74176
0.666667    74084
1.000000    73987
Name: count, dtype: int64

In [ ]:
train.to_csv('submission_examplePrepocesado.csv', index=False)

#Importar archivos y librerías

Importe de librerías necesarias para la descompresion de archivos y extracion de datos preProcesados para todos los que recibieron un tratamiento incial para su posterior implementacion dentro del googleColab.

In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv('/content/trainPrepocesado.csv')
y_train = train['RENDIMIENTO_GLOBAL']
x_train = train.drop(columns=['RENDIMIENTO_GLOBAL'])
train.head()

,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO,RENDIMIENTO_GLOBAL
0,0.074380,0.00,0.857143,0.25,0.500000,1.0,0.555556,1.000000,0.0,1.000000
1,0.024793,0.25,0.571429,0.00,0.500000,0.0,0.666667,0.555556,0.0,0.333333
2,0.115702,0.00,0.571429,1.00,0.500000,1.0,0.444444,0.444444,0.0,0.333333
3,0.008264,0.00,0.714286,0.00,0.666667,1.0,0.000000,0.444444,0.0,0.000000
4,0.041322,0.00,0.571429,0.75,0.500000,1.0,0.222222,0.222222,0.0,0.666667

In [ ]:
y_train.head()

0    1.000000
1    0.333333
2    0.333333
3    0.000000
4    0.666667
Name: RENDIMIENTO_GLOBAL, dtype: float64

In [ ]:
x_test = pd.read_csv('/content/testPrepocesado.csv')
x_test.drop(columns=['Unnamed: 0'], inplace=True)
x_test.head()

,ESTU_PRGM_ACADEMICO,ESTU_PRGM_DEPARTAMENTO,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_HORASSEMANATRABAJA,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_EDUCACIONPADRE,FAMI_EDUCACIONMADRE,ESTU_PAGOMATRICULAPROPIO
0,0.066116,0.25,0.142857,0.25,0.500000,1.0,0.666667,0.222222,1.0
1,0.008264,0.00,0.571429,0.75,0.333333,1.0,0.444444,0.666667,0.0
2,0.000000,0.00,0.428571,0.00,0.500000,1.0,0.333333,0.444444,0.0
3,0.033058,0.25,0.428571,0.75,0.166667,0.0,0.111111,0.111111,0.0
4,0.008264,0.25,0.571429,0.50,0.333333,1.0,0.444444,0.444444,0.0

In [ ]:
y_test = pd.read_csv('/content/submission_examplePrepocesado.csv')
y_test.drop(columns=['ID'], inplace=True)
y_test.head()

   RENDIMIENTO_GLOBAL
0            0.666667
1            0.666667
2            0.000000
3            0.333333
4            0.666667

#Sobremuestreo y modelo KNeighborsClassifier

Se importa las librerías responsable del modelo y desde el modelo hasta los preprocesamiento de los datos antes de incluirlos dentro del modelo.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score
from imblearn.over_sampling import SMOTE

# Se usa los metodo de sobremuestreo (SMOTE) para emparejar equilibrar las clases o etiquetas del dataset con el fin de obtener un mayor conjunto de datos y equilibrados, aunque se presentar un sobreentrenamiento por este algoritmo.

In [ ]:
y_train = y_train.astype(str)
y_test = y_test.astype(str)
smote = SMOTE(random_state=42)
x_train_resampled, y_train_resampled = smote.fit_resample(x_train, y_train)

Despues de entrenar el modelo, se ejecuta con los datos de prueba para verifica la validez de los anteriores procesos.

In [ ]:
model = KNeighborsClassifier(n_neighbors=5)
model.fit(x_train, y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/neighbors/_classification.py:238: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [ ]:
y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.250385918513

Se implementa una modificaion dentro de los datos de prediccion entregados por el algoritmo para que sea legibles para el cliente y la pagina Kaggle y así evitar problemas de lectura de datos.

In [ ]:
y_pred_df = pd.DataFrame(y_pred, columns=['RENDIMIENTO_GLOBAL'])
mapa = {
    '0.0': 'bajo',
    '0.3333333333333333': 'medio-bajo',
    '0.6666666666666666': 'medio-alto',
    '1.0': 'alto'
}
y_pred_df['RENDIMIENTO_GLOBAL'] = y_pred_df['RENDIMIENTO_GLOBAL'].map(mapa)
y_pred_df =  pd.concat([pd.read_csv('/content/submission_examplePrepocesado.csv')['ID'], y_pred_df], axis=1)
y_pred_df.to_csv('sln.csv', index=False)